// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

body{
  color: #828282;
  background-color: #f5f0e2;
}
h1,h2{
  color:#AD343E;
}

.content {
    display: flex;
}
#map {
    flex: 0 0 400px;
    height: 100vh;
    position: sticky !important;
    top: 0 !important;
    }

.cards-container{
  margin:15px auto;
  display:block;
  min-width: 1250px;
  padding: 0px 10px;


}


// Styling _form.html.erb


