<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6  col-sm-offset-3">
      <h1>Add new Item</h1>
      <%= render 'form', item: @item %>
      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>

